body
{
	background: lightblue;
}
.label
{
	margin: 5px;
	display: inline-block;
	width: 100px;
}
.textbox
{
	margin: 5px;
	display: inline-block;
	border-color: none;
	width: 100px;
}
.button
{
	margin: 5px;
	display: inline-block;
	width: 135px;
}